#textdomain wesnoth-TLB
[textdomain]
     name="wesnoth-TLB"
     path="data/add-ons/The_Legend_Begins/translations"
[/textdomain]

[campaign]
     id="The_Legend_Begins"
     name= _ "The Legend Begins" + _ "
" + _ "Episode I"
     abbrev= _ "TLB"
     rank="306"
     define="CAMPAIGN_TLB"
     first_scenario="1_Rebellion"
     icon="data/add-ons/War_of_Legends/images/units/human-loyalists/captain.png~RC(magenta>black)"
     image="data/add-ons/The_Legend_Begins/images/portraits/jahin.png~SCALE(325,325)"
     description= _ "<i><b>The Tale of Jahin</b></i>" + _ "
<i>The greatest hero the Great Isle, or perhaps the world of Irdya, has ever known. Watch his legend unfold before your very eyes.</i>" + _ "
<i>Episode I:</i>
<i>Help Jahin and his friends reclaim their home from the Vampires.</i>" + _ "
(Intermediate Level, 28 playable scenarios)"
     difficulties=EASY,NORMAL,HARD
     difficulty_descriptions={MENU_IMG_TXT2 "units/human-loyalists/warrior.png~RC(magenta>brown)" _"Warrior" _"(Easy)"} + ";*" + 
                             {MENU_IMG_TXT2 "units/human-loyalists/captain.png~RC(magenta>brown)" _"Captain" _"(Normal)"} + ";" + 
                             {MENU_IMG_TXT2 "units/human-loyalists/warmaster.png~RC(magenta>brown)" _"Warmaster" _"(Hard)"}

     end_text= _ "To be continued…"
     
     [about]
        title = _ "Author"
        [entry]
          name = _ "Tahsin Jahin Khalid (Lord-Knightmare)"
        [/entry]
     [/about]

     # If anybody's willing to help with art and scenario elements
     #[about]
     #   title= _ ""
     #   [entry]
     #      name= _ ""
     #   [/entry]
     #[/about]

[/campaign]

#ifdef CAMPAIGN_TLB
[binary_path]
     path="data/add-ons/The_Legend_Begins"
[/binary_path]

{~add-ons/The_Legend_Begins/images}
{~add-ons/The_Legend_Begins/scenarios}
{~add-ons/The_Legend_Begins/macros}
{~add-ons/The_Legend_Begins/macros/common.cfg}
{~add-ons/The_Legend_Begins/macros/custom-team-colors.cfg}
[+units]
    {~add-ons/The_Legend_Begins/units}
    {~add-ons/The_Legend_Begins/units/campaign}
    {~add-ons/The_Legend_Begins/units/humans}
    {~add-ons/The_Legend_Begins/units/undead}
    {~add-ons/The_Legend_Begins/units/demons}
[/units]

{~add-ons/War_of_Legends/_main.cfg}
{LEGEND_CAMPAIGN}
#endif
